<nav class="sidemenu">
  <div class="sidemenu-top">
    <img src="assets/logo.svg" alt="Logo" class="logo" />
    <ul>
      <li class="active"><img src="assets/dashboard.svg" alt="dashboard"><a routerLink="/home" routerLinkActive="active">Dashboard</a></li>
      <li><img src="assets/settings.svg" alt="dashboard"><a routerLink="/teams" routerLinkActive="active">Paramètres</a></li>
      <li><img src="assets/profil.svg" alt="dashboard"><a routerLink="/feature-flipping" routerLinkActive="active">Profil</a></li>
    </ul>
  </div>
  <img src="assets/logo-ft.svg" alt="Logo-ft" class="logo-ft" />
</nav>
